<div id="loader" class="position-fixed w-100 h-100 top-0 start-0 bg-white">
    <div class="d-flex align-content-center flex-wrap h-100">
        <div class="row text-center mx-auto">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <!--suppress HtmlUnknownTarget -->
                        <img src="./images/animations/loader.gif" alt="loader" class="img-fluid">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5>Loading ...</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>