{% extends 'base.html.twig' %}

{% block title %}
    Product
{% endblock %}

{% block container %}
    <div class="row">
        <div class="offset-lg-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="m-0">
                                <strong>
                                    Product information's
                                </strong>
                            </h3>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <form action="" method="post">
                                <div class="form-group mb-3">
                                    <label class="form-label" for="title">
                                        <strong>
                                            <span class="text-danger">*</span> Title:
                                        </strong>
                                    </label>
                                    <input type="text" id="title" name="title" class="form-control rounded-1">
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" for="category">
                                        <strong>
                                            <span class="text-danger">*</span> Category:
                                        </strong>
                                    </label>
                                    <select name="category" id="category" class="form-control">
                                        <option hidden="hidden" disabled="disabled" selected="selected">
                                            ---
                                        </option>
                                        {% for category in categories %}
                                            <option value="{{ category.uid }}">
                                                {{ category.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" for="image">
                                        <strong>
                                            <span class="text-danger">*</span> Image (URL):
                                        </strong>
                                    </label>
                                    <input type="text" id="image" name="image" class="form-control rounded-1">
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label" for="description">
                                        <strong>
                                            <span class="text-danger">*</span> Description:
                                        </strong>
                                    </label>
                                    <textarea name="description" id="description" cols="30" rows="10"
                                              class="form-control"></textarea>
                                </div>
                                <div class="form-group mb-3">
                                    <button type="submit" class="btn btn-primary rounded-1 w-100">
                                        Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
